{
  "AnnotateSvCallset.phase": "phase1",
  "AnnotateSvCallset.main_vcf": "gs://BUCKET/callsets/phase1/main.vcf.gz",
  "AnnotateSvCallset.rmsk_bed": "gs://BUCKET/refs/grch38/rmsk.bed.gz",
  "AnnotateSvCallset.simple_repeat_bed": "gs://BUCKET/refs/grch38/simpleRepeat.bed.gz",
  "AnnotateSvCallset.segdup_bed": "gs://BUCKET/refs/grch38/genomicSuperDups.bed.gz",
  "AnnotateSvCallset.sample_ancestry_tsv": "gs://BUCKET/metadata/phase1.sample_ancestry.tsv",
  "AnnotateSvCallset.caddsv_annotations_tar": "gs://BUCKET/refs/caddsv/caddsv-v2.0-annotations.tar.gz",
  "AnnotateSvCallset.prefix": "aou_lr_phase1",
  "AnnotateSvCallset.docker": "us-central1-docker.pkg.dev/broad-dsp-lrma/aou-lr/aou-sv-annotation:0.1.5"
}
