{
  "AnnotateSvCallset.phase": "phase2",
  "AnnotateSvCallset.prefix": "aou_lr_phase2",
  "AnnotateSvCallset.main_vcf": "gs://prod-drc-broad/longreads/demo_group/integrated_sv_callset/v3_main.bcf",
  "AnnotateSvCallset.bnd_vcf": "gs://prod-drc-broad/longreads/demo_group/integrated_sv_callset/v3_bnd.bcf",
  "AnnotateSvCallset.large_vcf": "gs://prod-drc-broad/longreads/demo_group/integrated_sv_callset/v3_ultralong.bcf",
  "AnnotateSvCallset.rmsk_bed": "gs://BUCKET/refs/grch38/rmsk.bed.gz",
  "AnnotateSvCallset.simple_repeat_bed": "gs://BUCKET/refs/grch38/simpleRepeat.bed.gz",
  "AnnotateSvCallset.segdup_bed": "gs://BUCKET/refs/grch38/genomicSuperDups.bed.gz",
  "AnnotateSvCallset.sample_ancestry_tsv": "gs://BUCKET/metadata/phase2.sample_ancestry.tsv",
  "AnnotateSvCallset.caddsv_annotations_tar": "gs://BUCKET/refs/caddsv/caddsv-v2.0-annotations.tar.gz",
  "AnnotateSvCallset.docker": "us-central1-docker.pkg.dev/broad-dsp-lrma/aou-lr/aou-sv-annotation:0.1.6"
}
