{
  "FlareByPopulation.covariates": "gs://fc-secure-8f7d6a20-04ce-40d7-8c88-aececeac3e09/covariates/covariates.source_rebuilt.csv.gz",
  "FlareByPopulation.gt_vcf": "this.gt_vcf",
  "FlareByPopulation.gt_vcf_index": "this.gt_vcf_index",
  "FlareByPopulation.ref_vcf": "this.ref_vcf",
  "FlareByPopulation.ref_vcf_index": "this.ref_vcf_index",
  "FlareByPopulation.ref_panel": "this.ref_panel",
  "FlareByPopulation.map_file": "this.map_file",
  "FlareByPopulation.split_script": "gs://fc-secure-8f7d6a20-04ce-40d7-8c88-aececeac3e09/scripts/flare_split_samples.py",
  "FlareByPopulation.summarize_script": "gs://fc-secure-8f7d6a20-04ce-40d7-8c88-aececeac3e09/scripts/flare_summarize_models.py",
  "FlareByPopulation.flare_model_script": "gs://fc-secure-8f7d6a20-04ce-40d7-8c88-aececeac3e09/scripts/flare_model.py",
  "FlareByPopulation.flare_site_stats_script": "gs://fc-secure-8f7d6a20-04ce-40d7-8c88-aececeac3e09/scripts/flare_site_stats.py",
  "FlareByPopulation.indel_flank_script": "gs://fc-secure-8f7d6a20-04ce-40d7-8c88-aececeac3e09/scripts/flare_build_indel_flanks.py",
  "FlareByPopulation.output_prefix": "this.output_prefix",
  "FlareByPopulation.id_column": "research_id",
  "FlareByPopulation.pop_column": "ancestry_pred",
  "FlareByPopulation.include_pops": "this.include_pops",
  "FlareByPopulation.drop_pops": "this.drop_pops",
  "FlareByPopulation.min_samples": 50,
  "FlareByPopulation.exclude_controls": "this.exclude_controls",
  "FlareByPopulation.region": "this.region",
  "FlareByPopulation.em": "this.em",
  "FlareByPopulation.update_p": "this.update_p",
  "FlareByPopulation.probs": "this.probs",
  "FlareByPopulation.array": false,
  "FlareByPopulation.min_maf": "this.min_maf",
  "FlareByPopulation.min_mac": "this.min_mac",
  "FlareByPopulation.gen": "this.gen",
  "FlareByPopulation.gen_by_pop": "this.gen_by_pop",
  "FlareByPopulation.gen_by_pop_allow_default": "this.gen_by_pop_allow_default",
  "FlareByPopulation.props_by_pop": "this.props_by_pop",
  "FlareByPopulation.inherit_props": "this.inherit_props",
  "FlareByPopulation.inherit_panel_weights": "this.inherit_panel_weights",
  "FlareByPopulation.inherit_mu": "this.inherit_mu",
  "FlareByPopulation.template_model": "this.template_model",
  "FlareByPopulation.allow_unrepresented_pops": "this.allow_unrepresented_pops",
  "FlareByPopulation.biallelic_snvs_only": "this.biallelic_snvs_only",
  "FlareByPopulation.include_sites": "this.include_sites",
  "FlareByPopulation.exclude_regions": "this.exclude_regions",
  "FlareByPopulation.indel_flank_bp": "this.indel_flank_bp",
  "FlareByPopulation.target_min_maf": "this.target_min_maf",
  "FlareByPopulation.target_hwe_pval": "this.target_hwe_pval",
  "FlareByPopulation.pop_models": "this.pop_models",
  "FlareByPopulation.seed": "this.seed",
  "FlareByPopulation.gcs_project": "",
  "FlareByPopulation.bcftools_docker": "us-central1-docker.pkg.dev/broad-dsp-lrma/aou-lr/aou-flare-bcftools:1.24",
  "FlareByPopulation.flare_docker": "us-docker.pkg.dev/broad-dsde-methods/popout/flare:latest",
  "FlareByPopulation.subset_disk_gb_floor": 40,
  "FlareByPopulation.flare_preemptible": 1
}
